* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrainsMono Nerd Font;
  font-size: 11px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
  border: none;
  border-radius: 3px;
  min-height: 0;
  margin: 0.2em 0.3em 0.2em 0.3em;
}

#waybar {
  /*background: @bg;*/
  background-color: transparent;
  /*color: @light;*/
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
  /*border-top: 8px transparent;*/
  border-radius: 0px;
  margin: 0px 0px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  padding: 0 0px;
  color: #7984a4;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  background-color: transparent;
}
#workspace button.hover {
  background-color: transparent;
}
#workspaces button.active {
  color: #fff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: #64727d;
}

/* Each module */
#clock,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#tray,
#hyprland-language,
#custom-weather,
#window,
#workspaces {
  border-radius: 20px;
  padding: 0px 10px;
  background-color: #1e1e1e;
}

#cpu {
  color: #fb958b;
  background-color: #1e1e1e;
}

#memory {
  color: #ebcb8b;
  background-color: #1e1e1e;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#pulseaudio {
  color: #7d9bba;
}

#clock {
  color: #c8d2e0;
  /* background-color: #14141e; */
}

label:focus {
  background-color: #000000;
}

#disk {
  background-color: #964b00;
}

#network {
  color: #b48ead;
}

#network.disconnected {
  color: #f53c3c;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#language {
  padding: 0 5px;
  background: #1e1e1e;
}

#custom-exit {
  padding: 5px;
  background-color: #1e1e1e;
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: #c2ca76;
}

#custom-weather.clearNight {
    color: #2b2b2a;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #dbd9d8;
}
